<template>
  <div>
    <h4>コンポジション</h4>
    <input v-model="name" />
    
    <br><br>
    
    <HelloName v-bind:name="name" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import HelloName from '@/components/HelloName.vue';
import Component from 'vue-class-component';

@Component({
  components: {
    HelloName,
  },
})
export default class Composition extends Vue {

  name = 'ミシャ';
}
</script>

<style scoped>
div {
  text-align: center;
}

h4 {
  color: purple;
}
</style>
