<template>
  <div>
    <h4>v-model + v-for + コンポジション</h4>
    <input v-model="count" placeholder="回数" />
    
    <br><br>
    
    <HelloName
      v-for="index in parsedCount"
      v-bind:key="index"
      v-bind:name="`${index}番目`"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import HelloName from '@/components/HelloName.vue';
import Component from 'vue-class-component';

@Component({
  components: {
    HelloName,
  },
})
export default class Everything extends Vue {

  count = '10';

  get parsedCount() {
    let count = parseInt(this.count) || 0;
    count = Math.max(count, 0);
    return count;
  }
}
</script>

<style scoped>
div {
  text-align: center;
}

h4 {
  color: purple;
}
</style>
