<template>
  <div>
    <h4>v-if</h4>
    <div v-if="visible">
      <span>僕は表示です。</span>
    </div>
    <div v-else-if="!visible">
      <span>僕は非表示です。</span>
    </div>
    
    <br>

    <h4>v-for</h4>
    <div 
      v-for="index in 3" 
      v-bind:key="index"
    >
      <span>僕は{{ index }}番目です。</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class FlowControl extends Vue {

  visible = true;
}
</script>

<style scoped>
div {
  text-align: center;
}

h4 {
  color: purple;
}
</style>
