<template>
  <div>
    <span>{{ message }}</span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class HelloWorld extends Vue {

  message = 'Hello, world!';
}
</script>

<style scoped>
div {
  text-align: center;
}
</style>
