<template>
  <div>
    <span>{{ message }}</span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class HelloName extends Vue {

  @Prop({ required: true })
  name!: string;

  get message() {
    return `Hello, ${this.name}!`;
  }
}
</script>

<style scoped>
div {
  text-align: center;
}
</style>
