<template>
  <div>
    <p>
      <span>{{ message || '（入力がない）' }}</span>
    </p>

    <h4>v-model</h4>
    <input v-model="message" />
    
    <h4>v-on</h4>
    <button v-on:click="reverseMessage">
      <span>左右逆転</span>
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class UserInput extends Vue {

  message = 'Vueへようこそ！';

  reverseMessage() {
    this.message = this.message.split('').reverse().join('');
  }
}
</script>

<style scoped>
div {
  text-align: center;
}

h4 {
  color: purple;
}
</style>
