<template>
  <div id="app">
    <div class="header">
      <div>
        <div>Vueへようこそ！</div>
        <div>
          <span>例 #{{ lessonIndex }}</span>
          <span>&nbsp;</span>
          <a v-bind:href='`https://gitlab.com/misha_soliterman/vue-he-youkoso/-/blob/master/src/components/${lesson.name}.vue`'>
            <span>ソースを見る</span>
          </a>
        </div>
      </div>
      <div>
        <div>ナビゲーション</div>
        <div class="navigation-buttons">
          <button 
            v-on:click="lessonIndex -= 1" 
            v-bind:disabled="lessonIndex <= 1"
          >
            <span>前</span>
          </button>
          <button 
            v-on:click="lessonIndex += 1" 
            v-bind:disabled="lessonIndex >= lessons.length"
          >
            <span>次</span>
          </button>
        </div>
      </div>
    </div>
    <component :is="lesson" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

const LESSONS = {
  HelloWorld: () => import('@/components/HelloWorld.vue'),
  FlowControl: () => import('@/components/FlowControl.vue'),
  UserInput: () => import('@/components/UserInput.vue'),
  Composition: () => import('@/components/Composition.vue'),
  Everything: () => import('@/components/Everything.vue'),
};

@Component({
  components: {
    ...LESSONS,
  },
})
export default class App extends Vue {

  lessonIndex = 1;

  created() {
    let hashLessonIndex = parseInt(location.hash.slice(1)) || 1;
    hashLessonIndex = Math.max(hashLessonIndex, 1);
    hashLessonIndex = Math.min(hashLessonIndex, this.lessons.length);
    this.lessonIndex = hashLessonIndex;
    this.updateHashOnLessonChanged();
  }

  get lessons() {
    return Object.values(LESSONS);
  }

  get lesson() {
    return this.lessons[this.lessonIndex - 1];
  }

  @Watch('lessonIndex')
  updateHashOnLessonChanged() {
    location.hash = `${this.lessonIndex}`;
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: lightcyan;
  margin-bottom: 10px;
  padding: 10px;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation-buttons button {
  padding: 4px 10px;
  border-radius: 4px;
}
</style>
